@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease; /* Adjust duration for a smoother effect */
}

.fade-in-active {
    opacity: 1;
    transform: translateY(0);
}
